<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Dashboard</h1>

    <h3>Food Menu</h3>
    <div class="well-lg">
        <ul>
            <% foods.forEach(function(food) { %>
            <li><%= food.name %> made by <%= food.vendor %></li>
            <% }); %>
        </ul>
    </div>


    <form method="post" action="/createFoodMenu">
        <div class="form-group">
            <label for="mTimes"># of times (1-20)</label>
            <input type="number" class="form-control" name="mTimes" value="1" min="1" max="20">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>

</div>


<script src="/modules/jquery/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>